# Virtual environment
venv/
env/
fastapi/
.shalah/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Logs
*.log